*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/** default **/
body {
    font-size: 11px;
}
.flx {
    display: flex;
}
.flx-between {
    justify-content: space-between
}
img {
    max-width: 100%;
}
.t-upper {
    text-transform: uppercase;
}
.t-upper .active {
    background: #337ab7;
    color: white;
}
a {
    color: inherit;
}
.topo,
.corpo {
    min-height: 70px;
    background: #0000000a;
}
.corpo {
    margin-bottom: 30px;
}
.topo {
    justify-content: space-between;
    margin-top: 30px;
}
.topo > * {
    /* border: 1px dotted salmon; */
}
.ctn-nav {
    align-items: flex-end;
    flex: 1;
}
.ctn-user {
    width: 150px;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
}
.ctn-nav ul {
    margin: 0;
    transform: translateY(4px);
}
.ctn-nav li {
    position: relative;
    background: #cccccc;
    padding: .3em 1em 0 1.2em;
    overflow: hidden;
}
.ctn-nav li::before {
    content: '';
    display: block;
    position: absolute;
    top: -2.2em;
    left: -1em;

    width: 2em;
    height: 3em;
    background: #f5f5f5;

    transform: rotate(45deg);
}

/** CORPO **/
.corpo {
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/** prod_create **/
@keyframes anima_loading {
    from {opacity: 0}
    to {opacity: 1}
}

.form-prod {
    width: 100%;
    max-width: 900px;
    flex-wrap: wrap;
}
.form-prod > * {
    flex: 1;
    /* border: 1px dotted salmon; */
    margin-right: 10px;
}
.f-dados {
    flex: 3;
}
.f-btns {
    flex: auto;
    width: 100%;
}
.form-control {
    font-size: inherit;
}
select.form-control {
    width: auto;
}
.f-cor {
    margin-right: 1em;
}
.vl-loading {
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .7);
    animation: anima_loading .5s;
}
.vl-loading-content {
    height: 50px;
    width: 50px;
    background: url("/imgs/loading2.gif") no-repeat center;
    background-size: 500%;
    animation: anima_loading .3s;
    animation-delay: .3s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.ctn-img-pri,
.ctn-mini li {
    position: relative;
}

.f-images img + .remover {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 2em;
    height: 2em;
    background: black url('/imgs/close.gif') no-repeat center;
    background-size: contain;
    border-radius: 50%;
    cursor: pointer;
}
.n-order {
    display: none;
}
.f-images img + .remover + .order {
    display: initial;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 3em;
    height: 3em;
    text-align: center;
}

/* images **/
.ctn-mini {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.ctn-mini > * {
    display: flex;
    align-items: center;
    width: calc(50% - 3px);
    /* border: 1px dotted blue; */
    margin-top: 6px;
    background: white;
}
.ctn-mini > *:nth-child(3n+1) {
    margin-left: 0;
}
img {
    max-width: 100%;
}


/** Upload de imagens **/
.up-img {
    width: 75px;
    height: 75px;
    background: #CCC url("/imgs/icon-img.png") no-repeat center;
    background-size: 60%;
    border-radius: 10px;
    border: 5px solid #DDD;
    cursor: pointer;

    
}
.up-img:hover {
    background-size: 65%;
}
.up-img input {
    display: none;
}