.pr-header {
    display: flex;
    margin-bottom: 30px;
}
.pr-header > * {
    margin-top: 5px;
    flex: 1;
}
.breadcrumb {
    padding: 8px 0;
    margin: 0;
    background: initial;
    font-size: 1.2rem;
    color: #999;
}
.breadcrumb li:first-child {
    text-transform: capitalize;
}
.breadcrumb a {
    color: inherit;
}
.breadcrumb a:hover {
    color: #555;
}
.pr-img img {
    max-height: 100%;
}
.pr-title {
    padding-left: 20px;
}
.pr-title .title {
    position: relative;
    padding-top: 2rem;
    font-family: 'Fjalla One', sans-serif;
    font-size: 3em;
}
.pr-title .title small {
    position: absolute;
    top: -5px;
    left: 0;
    font-size: .35em;
    color: #bbb;
}
.pr-thumbnail {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}
.pr-thumbnail li {
    display: flex;
    align-items: center;
    width: 60px;
    height: 50px;
    margin-right: 5px;
    border: 3px solid #AAA;
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
}
.pr-thumbnail img {
    width: 120%;
    height: auto;
}
.pr-description {
    margin-bottom: 30px;
}
.pr-description .title {
    color: white;
    background: #535c63;
    font-size: 1em;
    text-transform: uppercase;
}
.pr-description span {
    display: inline-block;
    border-right: 1px dotted white;
    padding: .5em 1em;
}
.pr-rel {
    border-top: 2px solid #AAA;
    margin-bottom: 30px;
}
.header-rel {
    text-transform: uppercase;
    font-size: 1em;
}
.pr-rel ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}
.pr-rel li {
    position: relative;
    width: 24%;
    text-align: center;
    border: 2px solid #aaa;
    min-height: 260px;
    padding: .5em;
}
.pr-r-img figure {
    display: flex;
    align-items: center;
    height: 220px;
}
.pr-r-img .title {
    color: #2a2f33;
}